body {
  font-family: 'Gentium Basic', serif;
}

button.evidence {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

button.evidence .green {
  filter: invert(53%) sepia(80%) saturate(3491%) hue-rotate(99deg) brightness(99%) contrast(101%);
}

button.evidence .red {
  filter: invert(10%) sepia(82%) saturate(5245%) hue-rotate(339deg) brightness(113%) contrast(123%);
}

.grid-container {
  display: grid;
}

.grid-item {
  display: inline-grid;
  padding: 10px;
}

.grid-item button {
  width: 90px;
  height: 90px;
}

td img {
  padding: 10px;
}
